
#nav-bar{
    position: sticky;
    top: 0px;
    z-index: 10;
}

.navbar-nav li{
    padding: 0px 2px;
}
.navbar-nav li a{
    color: white !important;
    float: right;
    font-weight: 100;
}
.navbar-nav li a:hover{
    color:#ffcc33 !important;
    font-weight: 300;
}
.navbar{
    background-image: linear-gradient(to right, #56ccf2, #2f80ed);
    /**/
}
/*----------------------------------------*/

#banner{
    background-image: linear-gradient(to right, #56ccf2, #2f80ed);
    color: white;
    padding-top: 10px;
}
.download{
    font-size: 30px;
    margin-top: 40px;
}
.apptitle{
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
}

.centerImage{
    height: 200px;
    border-radius: 50%;

    display: flex;
    
}
.insideProfile{
    width: 30%;
    float: none;
    align-content: center;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
}

.bioText{
    font-size: 20px;
}
.bottom-image{
    width: 100%;
    margin-bottom: -5px;
}
#features{
    padding: 50px;
}
.paddedText{
    margin-left: 30%;
    margin-right: 30%;
}
#features{
    color: white;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
}
.featureIcon{
    height: 60px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.samoConnectCarousel{
    height: 200px;
    width: 200px;
}
.divider30Height{
    height: 30px;
}
.divider10Height{
    height: 10px;
}
.featureIcon:hover{
    height: 70px;
}
#aboutUs{
    background: linear-gradient(to right, #56ccf2, #2f80ed);;
}
.featureIcon path{
    fill: white;
    /* fill: white; */
  
}
.downloadButton downloadText{
    color: black;
}
.downloadButton{
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
  
  }
  .downloadButton:hover{
      background-image: linear-gradient(to left, #56ccf2, #2f80ed); 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    
    }

    .downloadButton:hover downloadText{
        color: white;
    }